<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'src/style.css' %}">
    <title>Little Minds Montessori</title>

</head>
<body style="font-family: Comic Sans MS;" class=" min-h-screen">

    <!-- Navbar -->
    <header class="p-3 sticky top-0 z-10">
        <section class="max-w-6xl mx-auto flex justify-between items-center py-1">
            <h1 class="text-3xl font-medium">
                <a href="#home">Logo</a>
            </h1>
            <!-- Mobile button -->
             <div>
                <button id="mobile-open-button" class="text-3xl sm:hidden focus:outline-none ">&#9776;</button>
             </div>
             <!-- Desktop Nav -->
              <nav class="hidden sm:block text-xl" aria-label="main">
                <button class="rounded-full px-2 py-1 hover:text-white hover:bg-blue-500 active:bg-blue-500">
                    <a href="#about" >About</a>
                </button>
                <button class="rounded-full px-2 py-1 hover:text-white hover:bg-blue-500 active:bg-blue-500">
                    <a href="#daily_program" >Daily Program</a>
                </button>
                <button class="rounded-full px-2 py-1 hover:text-white hover:bg-blue-500 active:bg-blue-500">
                    <a href="#extra_activities" >Extra Activities</a>
                </button>
                <button class="rounded-full px-2 py-1 hover:text-white hover:bg-blue-500 active:bg-blue-500">
                    <a href="#fees" >Fees</a>
                </button>
                <button class="rounded-full px-2 py-1 hover:text-white hover:bg-blue-500 active:bg-blue-500">
                    <a href="#contact" >Contact</a>
                </button>
              </nav>
        </section>
    </header>
    
    <!-- landing  -->
    <div class="container"></div>

    
    
</body>
</html>